/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2017, 1:22:08 PM
    Author     : Charles
*/

body 
 {
    font: Garamond;
    background-image: url("Wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
    
h1
{
    text-align: center;
    border-width: medium;
    border-style: ridge;
    border-color: chocolate;
}

p
{
    font: Garamond;
    text-align: center;
    font-size: xx-large;
}

a
{
    text-align: center;
}

table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
}

th
{
    background-color: rgba(181, 137, 50, 0.5);
    text-align: center;
    font-size: xx-large;
}

tr
{
    text-align: left;
    font-size: xx-large;
    background-color: rgba(181, 178, 173, 0.5);
}

.one
{
    background-color: rgba(181, 137, 50, 0.5);
    text-align: left;
    font-size: xx-large;
}

.desc
{
    font-size: x-large;
}