<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prothesis-2</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/materialize.min.css" media="screen,projection">

  <body>
    <div id="app">
    </div>
    <!-- webpack builds are automatically injected -->
  </body>
  <!-- Insert this line above script imports  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- normal script imports etc  -->
  <script src="js/jquery-3.2.1.min.js"></script>

  <!-- Insert this line after script imports -->
  <script>if (window.module) module = window.module;</script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="js/materialize.min.js"></script>
</html>
